// ========================================
//Variables
@import "_variables.scss";
//End Variables
// ========================================
.blog-main {
    padding: vw(80) 0px 0px 0px;
    @media (max-width: 768px){
        padding: vw_m(110) 0px vw_m(100) 0px;
        border-bottom: 1px solid $blackColor;
    }
    // .blog-main__body
    &__body {
        display: flex;
        gap: vw(42);
        @media (max-width: 768px){
            flex-direction: column;
            gap: vw_m(0);
        }
    }
    // .blog-main__column
    &__column {
        flex: 0 1 47%;
        @media (max-width: 768px){
            flex: 1 1 100%;
        }
    }
    // .blog-main__image
    &__image {
        display: inline-flex;
        position: relative;
        overflow: hidden;
        height: vw(821);
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
        @media (max-width: 768px){
            height: vw_m(395);
        }
    }
    // .blog-main__block
    &__block {
        display: block;
        width: vw(536);
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: $white;
        padding: vw(30) vw(50) vw(67) vw(50);
        @media (max-width: 768px){
            display: none;
        }
    }
    // .blog-main__block-mobile
    &__block-mobile {
        padding: vw_m(25) vw_m(20) vw_m(45) vw_m(20);
        @media (min-width: 786px){
              display: none;
        }
    }
    // .blog-main__item
    &__item {
        font-family: $Helv;
        font-size: vw(14);
        line-height: vw(30);
        letter-spacing: vw(0.4);
        color: $blackColor;
        font-weight: 300;
        text-transform: uppercase;
        @media (max-width: 768px){
              font-size: vw_m(14);
        }
    }
    // .blog-main__text-big 
    &__text-big {
        font-family: $Helv;
        font-size: vw(32);
        letter-spacing: vw(0.4);
        line-height: vw(44);
        color: $blackColor;
        font-weight: 500;
        @media (max-width: 768px){
            font-size: vw_m(20);
            line-height: vw_m(32);
            margin: vw_m(5) 0px 0px 0px;
      }
    }
    // .blog-main__text
    &__text{
        display: block;
        font-family: $Helv;
        font-size: vw(20);
        letter-spacing: vw(0.4);
        line-height: vw(28);
        color: $blackColor;
        margin: vw(4) 0px 0px 0px;
        max-width: vw(323);
        font-weight: 500;
        @media (max-width: 768px){
            font-size: vw_m(20);
            line-height: vw_m(28);
            max-width: none;
            margin: vw_m(8) 0px 0px 0px;
      }
    }
    // .blog-main__inner
    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: vw(42);
        @media (max-width: 768px){
            grid-template-columns: repeat(1, 1fr);
            padding: 0px vw_m(15);  
            gap: vw_m(50);
        }
    }
    // .blog-main__cart
    &__cart {
    }
    // .blog-main__bg
    &__bg {
        display: inline-flex;
        background-image: url("../img/blog/bg1.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: vw(328);
        padding: vw(40) vw(60);
        margin: 0px 0px vw(8) 0px;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
        @media (max-width: 768px){
            height: vw_m(275);
            padding: vw_m(50) vw_m(33);
            margin: 0px 0px vw_m(25) 0px;
        }
    }
}
.blog-menu-mobile {
    display: flex;
    align-items: center;
    height: vw_m(51);
    position: fixed;
    top: vw_m(60);
    left: vw_m(0);
    width: 100%;
    z-index: 1;
    background-color: $white;
    border-bottom: vw_m(1) solid $blackColor;
    @media (min-width: 786px){
         display: none; 
    }
    // .blog-menu-mobile__item
    &__item {
        padding: vw_m(12) vw_m(20);
        display: inline-flex;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        // &::before{
        //     content:'';
        //     position: absolute;
        //     width: vw_m(1);
        //     height:vw_m(27);
        //     right: 0;
        //     background-color: $blackColor;
        // }
        // &::before{
        //     content:'';
        //     position: absolute;
        //     border-left: 1px solid $blackColor;
        //     height: 100%;
        //     top: 0;
        //     right: 0;
        // }
    }
    // .blog-menu-mobile__title
    &__title {
        font-size: vw_m(14);
        line-height: vw_m(16);
        color: $blackColor;
        font-family: $Helv;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        padding: 0px vw_m(25) 0px 0px;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            width: vw_m(9);
            height: vw_m(7);
            display: block;
            background-image: url("../img/icons/arrow_bottom_accordeon.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: absolute;
            right: 0;
            // top: vw_m(7);
            transition: 0.3s;
            transform: rotate(-90deg);
        }
        &.active {
            // box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
            // z-index: 1;
            overflow: hidden;
            &::after {
              transform: rotateX(180deg);
            }
        }
    }
    // .blog-menu-mobile__items
    &__items {
        display: none;
        position: absolute;
        z-index: 3;
        top: vw_m(0);
        transform: translate(-100%,0px);
        left: vw_m(0);
        width: vw_m(272);
        background-color: $blackColor;
        border: 1px solid $blackColor;
        padding: 0px 0px vw_m(999) 0px;
        box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5);
        transition: all 1s ease 0s;
        &.active {
            transform: translate(0px,0px);
            transition: all 1s ease 0s;
        }
    }
    // .blog-menu-mobile__input
    &__input {
        width: 100%;
        input {outline:none;}
        border: 2px solid #707070;
        font-size: vw_m(20);
        line-height: 100%;
        color: $blackColor;
    }
    // .blog-menu-mobile__list
    &__list {
        display: none;
        position: absolute;
        z-index: 3;
        top: vw_m(30);
        width: 100%;
        background-color: $white;
        border: 1px solid $blackColor;
        & li {
            display: block;
            padding: vw_m(15);
            border-bottom: 1px solid $blackColor;
            font-size: vw_m(26);
            line-height: 100%;
            color: $white;
            // &:not(:last-child) {margin-bottom: 7px;}
            // @media (max-width: 768px){
            //     &:not(:last-child) {margin-bottom: 25px;}
            //     font-size: vw_m(26);
            // }
        }
    }
    // .blog-menu-mobile__link
    &__link {
        color: $blackColor;
        font-size: vw_m(20);
        line-height: 100%;
    }
    // .blog-menu-mobile__btn
    &__btn {
        border: none;
        width: vw_m(18);
        height: vw_m(18);
        position: absolute;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
    // .blog-menu-mobile__wrap
    &__wrap {
        width: vw_m(83);
        height: vw_m(50);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: $white;
        position: relative;
        z-index: 1;
        transition: all 0.5s ease;
        &.active {
            position: absolute;
            right: vw_m(0);
            width: 100%;
            height: auto;
            padding: vw_m(0) vw_m(20);
            transition: all 0.5s ease;
            .blog-menu-mobile__arrow {
                transition: all 0.5s ease;
                display: inline-flex;
                width: vw_m(20);
                height: vw_m(20);
                position: relative;
                display: flex;
                justify-content:center;align-items: center;
                &::before,
                &::after {
                    content: '';
                    background-color: $blackColor;
                    position: absolute;
                    width: vw_m(2);
                    height: vw_m(15);
                    transition: all 0.3s ease 0s;
                }
                &::before {
                	transform: rotate(-45deg);
                }
                &::after {
                	transform: rotate(45deg);
                }
            }
            .blog-menu-mobile__btn {
                left: vw_m(20);
            }
            form {
                padding: 0px 0px 0px vw_m(25);
            }
            &::before {
                display: none;
            }
        }
        & .blog-menu-mobile__arrow {
            display: none;
            transition: all 0.5s ease;
        }
        &::before{
            content:'';
            position: absolute;
            width: vw_m(1);
            height:vw_m(27);
            left: 0;
            background-color: $blackColor;
        }
        & form {
            width: 100%;
        }
    }
    // .blog-menu-mobile__input
    &__input {
        display: none;
        border: 0;
        background: transparent;
        width: 0%;
        outline: none;
        transition: all 0.3s ease;
        position: relative;
        font-size: vw_m(14);
        line-height: vw_m(17);
        font-weight: 500;
        color: $blackColor;
        font-family: $Helv;
        font-style: normal;
        &.active {
            display: block;
            width: 100%;
            transition: all 0.5s 0.8s ease;
        }
    }
    input[type="text"] {
        &::placeholder {
            color: $blackColor;
            font-weight: 500;
            font-family: $HelvEx;
            font-size: vw_m(14);
            line-height: vw_m(17);
        }
    }
}
//========================================================================================================================================================
.blog-menu {
    padding: vw(100) vw(0);
    & a {
        &:hover {
            color: $blue;
        }
    }
    @media (max-width: 768px){
        display: none;
    }
    // .blog-menu__body
    &__body {
    }
    // .blog-menu__menu
    &__menu {
    }
}
.menu-blog {
    display: flex;
    align-items: center;
    height: vw(66);
    background-color: $white;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding: vw(12) 0;
    position: relative;
    z-index: 1;
    &.fixed {
        position: fixed;
        width: 100%;
        top: vw(80);
        left: 0;
        &.sticky {
          display: none !important;
        }
    }
    // .menu-blog__link
    &__link {
        height: 100%;
        border-right: vw(1) solid $blackColor;
        display: inline-flex;
        align-items: center;
        font-size: vw(20);
        line-height: vw(44);
        font-family: $HelvEx;
        color: $blackColor;
        padding: 0 vw(60);
        font-weight: 500;
        &._link-ar {
            position: relative;
            padding: 0 vw(110) 0 vw(60);
            &::before{
                content:'';
                position: absolute;
                right: vw(60);
                top: vw(8);
                background: url('../img/icons/top_arrow50_black.svg') no-repeat;
                background-position: 0 0;
                background-size: cover;
                width: vw(20);
                height: vw(20);
            }
        }
    }
    &__btn {
        background-color: transparent;
        border: none;
        padding: 0px vw(30) 0px 0px;
        & img {
            max-width: 100%;
        }
    }
    // .menu-blog__input
    &__input {
        display: flex;
        flex: 1 1 auto;
        position: relative;
        height: 100%;
        padding: 0 vw(60);
        input {outline:none;}
        & input {
            width: 100%;
            border: none;
            font-size: vw(20);
            line-height: vw(44);
            font-family: $Helv;
            color: $blackColor;
            &::placeholder {
                font-size: vw(20);
                line-height: vw(44);
                font-family: $HelvEx;
                color: $blackColor;
                font-weight: 500;
            }
        }
    }
    // .menu-blog__item
    &__items {
        display: inline-flex;
        align-items: center;
        height: 100%;
        border-left: 1px solid $blackColor;
        padding: 0 vw(60);
        // position: relative;
    }
    // .menu-blog__title
    &__title {
        font-size: vw(20);
        line-height: vw(44);
        font-family: $HelvEx;
        color: $blackColor;
        font-weight: 500;
        cursor: pointer;
        position: relative;
        padding: 0px vw(43) 0px 0px;
        display: flex;
        align-items: center;
        &::after {
            content: "";
            width: vw(13);
            height: vw(9);
            display: block;
            background-image: url("../img/icons/arrow_bottom_accordeon.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: absolute;
            right: 0;
            transition: 0.3s;
            @media (max-width: 600px) {
              display: block;
              width: vw_m(14);
              height: vw_m(10);
            }
        }
        &.active {
            &::after {
              transform: rotateX(180deg);
            }
        }
    }
    // .custom-content__block
    &__block {
        display: none;
        position: absolute;
        top: vw(65);
        left: 0;
        width: 100%;
        height: auto;
        background-color: $white;
        border-bottom: 1px solid $blackColor;
        padding: vw(25) vw(120);
        @media (max-width: 786px) {
            width: 100%;
            padding: vw_m(15); 
            left: 0;
        }
        // &.fixed {
        //   position: fixed;
        //   width: 100%;
        //   top: vw(80);
        //   left: 0;
        //   &.sticky {
        //     display: none !important;
        //   }
        // }
    }
    // .custom-content__inner
    &__inner {
      display: flex;
      gap: vw(23) vw(60);
      flex-wrap: wrap;
    }
    // .custom-content__item
    &__item {
      display: inline-flex;
      font-family: $HelvEx;
      font-size: vw(20);
      line-height: vw(24);
      color: #979797;
      font-weight: 500;
      cursor: pointer;
      &._active {
        color: #000000;
      }
    }
    // .menu-blog__list
    &__list {
        display: none;
        position: absolute;
        top: vw(30);
        width: vw(200);
        background-color: #666;
        padding: vw(15);
        border: 1px solid $blackColor;
        & li {
            display: block;
            font-size: vw(26);
            line-height: 100%;
            color: $white;
            &:not(:last-child) {margin-bottom: 7px;}
            @media (max-width: 768px){
                &:not(:last-child) {margin-bottom: 25px;}
                font-size: vw_m(26);
            }
        }
        @media (max-width: 786px) {
            width: 100%;
            padding: vw_m(15); 
            left: 0;
        }
    }
}
//========================================================================================================================================================
.blog-carts {
    padding: 0px 0px vw(100) 0px;
    & a {
        &:hover {
            color: $blue;
        }
    }
    @media (max-width: 768px){
        padding: vw_m(100) 0px vw_m(100) 0px;
    }
    // .blog-carts__body
    &__body {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: vw(100) vw(60);
        @media (max-width: 786px){
            grid-template-columns: repeat(1, 1fr); 
            gap: vw_m(50);  
        }
    }
    // .blog-carts__cart
    &__cart {
    }
    // .blog-carts__showmore
    &__showmore {
        display: flex;
        justify-content: center;
        margin: vw(95) 0px 0px 0px;
        @media (max-width: 768px){
            margin: vw_m(100) 0px 0px 0px;
        }
    }
    // .blog-carts__button
    &__button {
        display: inline-flex;
        font-size: vw(20);
        line-height: vw(44);
        font-family: $HelvEx;
        color: $blackColor;
        font-weight: 400;
        padding: vw(15);
        border: none;
        background-color: transparent;
        &:hover{
            color: $blue;
        }
        @media (max-width: 768px){
            padding: vw_m(15);
            font-size: vw_m(20);
            line-height: vw_m(44);
        }
    }
}
.cart-blog {
    // .cart-blog__image
    &__image {
        display: inline-flex;
        @media (max-width: 786px){
              height: vw_m(370);
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: right;
        }
    }
    // .cart-blog__body
    &__body {
    }
    // .cart-blog__item
    &__item {
        display: inline-flex;
        font-size: vw(14);
        line-height: vw(30);
        letter-spacing: vw(0.4);
        font-family: $Helv;
        color: $blackColor;
        font-weight: 300;
        text-transform: uppercase;
        margin: vw(16) 0px 0px 0px;
        @media (max-width: 768px){
              font-size: vw_m(14);
              margin: vw_m(25) 0px 0px 0px;
        }
    }
    // .cart-blog__text
    &__text {
        display: inline-flex;
        font-size: vw(20);
        letter-spacing: vw(0.4);
        font-family: $Helv;
        line-height: vw(28);
        color: $blackColor;
        margin: vw(4) 0px 0px 0px;
        font-weight: 500;
        @media (max-width: 768px){
            font-size: vw_m(20);
            line-height: vw_m(30);
            margin: vw_m(8) 0px 0px 0px;
      }
    }
    // .cart-blog__bottom
    &__bottom {
        margin: vw(60) 0px 0px 0px;
        border-top: 1px solid #707070;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: vw(16) 0px 0px 0px;
        @media (max-width: 768px){
            margin: vw_m(50) 0px 0px 0px;
            padding: vw_m(16) 0px 0px 0px;
        }
        & span {
            color: #979797;
            font-size: vw(14);
            line-height: vw(30);
            letter-spacing: vw(0.4);
            font-family: $Helv;
            @media (max-width: 768px){
                font-size: vw_m(14);
                line-height: vw_m(30); 
            }
        }
    }
    // .cart-blog__link
    &__link {
        color: $blackColor;
        font-size: vw(14);
        line-height: vw(17);
        font-weight: 500;
        letter-spacing: vw(0.2);
        font-family: $HelvEx;
        position: relative;
        padding: 0px vw(25) 0px 0px;
        display: flex;
        align-items: center;
        @media (max-width: 768px){
            font-size: vw_m(14); 
            line-height: vw_m(19);
            padding: 0px vw_m(25) 0px 0px;
        }
        &::after{
            content:'';
            position: absolute;
            top: vw(4);
            right: 0;
            background: url('../img/icons/arrow_right_black.svg') no-repeat;
            background-position: 0 0;
            background-size: contain;
            width: vw(15);
            height: vw(15);
            @media (max-width: 768px){
                width: vw_m(15);
                height: vw_m(15);
                top: vw_m(4);
            }
        }
    }
}
//========================================================================================================================================================
.bl_ready_to_get {
    background-image: url("../img/bg/bg_ready_to_get.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: vw(142);
    padding-bottom: vw(140);
    position: relative;
    @media (max-width: 768px) {
      background-position: left center;
      background-size: 400% 100%;
      padding-top: vw_m(160);
      padding-bottom: vw_m(160);
    }
    .bl_ready_to_get__content {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
      .btn_up {
        position: absolute;
        top: vw(60);
        right: vw(60);
        transition: 0.3s;
        opacity: 0.6;
        &:hover {
          transition: 0.3s;
          opacity: 1;
        }
        @media (max-width: 600px) {
          display: none;
        }
      }
      h2 {
        color: #fff;
        width: 48%;
        @media (max-width: 768px) {
          text-align: center;
          width: 100%;
          margin-bottom: vw_m(45);
          font-size: vw_m(26);
          line-height: vw_m(38);
          letter-spacing: vw(-1);
        }
      }
      .bl_ready_to_get__btns {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 50%;
        padding-left: vw(87);
        padding-top: vw(33);
        @media (max-width: 768px) {
          padding-left: 0;
          padding-top: 0;
          flex-direction: column;
          align-items: center;
          width: 100%;
        }
        > div {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-right: vw(45);
          @media (max-width: 768px) {
            margin-right: 0;
            margin-bottom: vw_m(20);
            align-items: center;
            justify-content: flex-start;
          }
          .btn_free_trial {
            margin-bottom: vw(20);
            @media (max-width: 768px) {
              margin-bottom: vw_m(10);
            }
          }
          p {
            font-size: vw(14);
            line-height: vw(16);
            font-style: italic;
            font-family: $Helv;
            color: #fff;
            @media (max-width: 768px) {
              font-size: vw_m(10);
              line-height: vw_m(16);
            }
          }
        }
        .btn_underline_white {
          top: vw(18);
        }
      }
    }
}
//========================================================================================================================================================
.items-blog {
    &__lable {
        font-family: $Helv;
        font-size: vw(14);
        line-height: vw(19);
        color: $white;
        text-transform: uppercase;
        padding: vw(15) vw(30);
        background-color: #707070;
        border-bottom: 1px solid #979797;
        font-weight: 500;
        @media (max-width: 786px){
            padding: vw_m(15) vw_m(30);  
            font-size: vw_m(14);
            line-height: vw_m(19);
        }
    }
    // .guides-menu__title
    &__title {
        font-family: $Helv;
        font-size: vw(14);
        line-height: vw(19);
        color: $white;
        text-transform: uppercase;
        position: relative;
        padding: vw(15) vw(30);
        transition: all 0.3s ease 0s;
        display: flex;
        align-items: center;
        font-weight: 500;
        @media (max-width: 786px){
            font-size: vw_m(14);
            line-height: vw_m(19);
            padding: vw_m(15) vw_m(30); 
        }
        &::after {
            content: "";
            width: vw(10);
            height: vw(10);
            display: block;
            background-image: url("../img/guides/accordeon.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            position: absolute;
            right: vw(20);
            transition: 0.3s;
            @media (max-width: 786px){
                width: vw_m(9);
                height: vw_m(7);
                right: vw_m(30);
            }
        }
        &.active {
            transition: all 0.3s ease 0s;
            background-color: #707070;
            &::after {
              transform: rotateX(180deg);
            }
        }
    }
    // .guides-menu__item
    &__item {
        border-bottom: 2px solid #979797;
    }
    // .guides-menu__list
    &__list {
        display: none;
        width: vw(200);
        margin: vw(10) vw(30);
        padding: 0px 0px 0px vw(10);
        border-left: 3px solid $blue;
        @media (max-width: 768px){
            margin: vw_m(10) vw_m(30) vw_m(10) vw_m(30);
            padding: 0px 0px 0px vw_m(8);
            width: auto;
        }
        & li {
           &:not(:last-child) {margin-bottom: vw(15);}
           @media (max-width: 768px){
             &:not(:last-child) {margin-bottom: vw_m(15);}
           } 
        }
        & li a {
            font-size: vw(14);
            line-height: vw(20);
            font-weight: 400;
            color: $white;
            font-family: $Helv;
            font-weight: 400;
            @media (max-width: 768px){
                // &:not(:last-child) {margin-bottom: vw_m(25);}
                font-size: vw_m(14);
                line-height: vw_m(20);
            }
            &:hover{
                color: $blue;
            }
        }
    }
}